body {
    margin: 0;
    box-sizing: border-box;
}

/*MAIN*/

#wrapper {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(6, 10vh);

    width: 100vw;
}

/*BILD*/
#bild {
    background-image: url(bilder/dator.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 2/6;
    grid-row: 2/8;
}  

/*BILD2*/
#bild2 { 
    background-image: url(bilder/gruppbild.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5vh;

    max-width: 100%;
    height: auto;
}

/*RUBRIK*/
.rubrik {
    grid-column: 7/7;
    grid-row: 1;
    z-index: 1;
}

/*TEXT*/
#divwrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-top: 10vh;
}

#left {
    display: flex;
    flex-direction: column;
}

#right {
    display: flex;
    flex-direction: column;
}

#intro {
    border-bottom: 1px solid black;
    
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
}

.questions {
    width: 40vw;
    margin-right: 2.5vw;
    text-align: justify;   
}

/*SLUT PÅ MAIN*/

/*RESPONSIVE*/

@media(max-width:800px) {
    #divwrap {
        flex-direction: column;
    }
    .questions {
        width: 85vw;
    }
    #bild {
        grid-column: 2/10;
        grid-row: 3/8;
    }
    .rubrik {
        grid-column: 2/10;
        grid-row: 1;
        font-size: 25px;
    }
    .row {
        flex-direction: column;
        margin-left: 10vw;
    }
}